

<!-- 
         <div class="col-md-2 col-sm-4 sidebar1">
             <div class="logo">
                <i> <h1>Recipe Project</h1></i>
            </div>
          <br>
          <div class="left-navigation">
              <ul class="list">
                  <li><a href="#" (click)="selectFeature('recipe')">Recipe</a></li>
                  <li><a href="#" (click)="selectFeature('shopping-list')">Shopping</a></li>
                  <li>Manage</li>
                  <li>Saving Data</li>
                  <li>Fetching Data</li>
              </ul>
              
              <br>

              
          </div>
        </div> -->

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">Recipe Book</a>
                </div>
                <div class="navbar-default">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" (click)="selectFeature('recipe')">Recipes</a>
                        </li>
                        <li>
                            <a href="#" (click)="selectFeature('shopping-list')">Shopping List</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown" appDropdown>
                            <a href="#" 
                                class="dropdown-toggle"
                                role="button">
                                Manage <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Saving Data</a>
                                </li>
                                <li>
                                    <a href="#">Fetching Data</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
      
    
        

        