a.list-group-item  {
/* background-color: black; */
margin-bottom: 30px;
margin-left: 15px;
box-shadow: rgb(199, 195, 195) 0 2px 4px;
/* background-color:  */
}
/* .list-group-item-heading{
    text-align: center;
    color: beige
} */